.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #abaedf;
}

.token.punctuation {
  color: #b4b5ff;
}

.token.tag,
.token.namespace,
.token.deleted {
  color: #ff6191;
}

.token.function-name,
.token.function {
  color: #57bcff;
}

.token.attr-name,
.token.boolean,
.token.number {
  color: #f69233;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #cc5eff;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #ff74dc;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #52da74;
}

.token.operator,
.token.entity,
.token.url {
  color: #94bcdd;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #52da74;
}
