.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-indigo-500;
}

.token.punctuation {
  color: #8187fb;
}

.token.tag,
.token.namespace,
.token.deleted {
  @apply text-red-500;
}

.token.function-name,
.token.function {
  color: #0873ff;
}

.token.attr-name,
.token.boolean,
.token.number {
  color: #f57029;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #a21fee;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #ec2bbc;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable,
.token.inserted {
  color: #11b74e;
}

.token.operator,
.token.entity,
.token.url {
  color: #b97dd1;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
