/* Animation */
@keyframes hero-zoom-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem) scale(0.6);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes hero-drop-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-fade-in {
  overflow: visible;
}
.hero-fade-in > path {
  opacity: 0;
  transform-origin: center;
  animation: hero-zoom-in 500ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --delay: 250ms;
}
.hero-fade-in > path:nth-child(1) {
  animation-delay: var(--delay);
}
.hero-fade-in > path:nth-child(2) {
  animation-delay: calc(var(--delay) + 0.027777778 * 1s);
}
.hero-fade-in > path:nth-child(3) {
  animation-delay: calc(var(--delay) + 0.111111111 * 1s);
}
.hero-fade-in > path:nth-child(4) {
  animation-delay: calc(var(--delay) + 0.25 * 1s);
}
.hero-fade-in > path:nth-child(5) {
  animation-delay: calc(var(--delay) + 0.444444444 * 1s);
}
.hero-fade-in > path:nth-child(6) {
  animation-delay: calc(var(--delay) + 0.694444444 * 1s);
}
.hero-fade-in > path:nth-child(7) {
  animation-delay: calc(var(--delay) + 1s);
}
.hero-fade-in > path:nth-child(8) {
  animation-name: hero-drop-in;
  animation-delay: calc(var(--delay) + 1.5s);
}
.hero-fade-in > path:nth-child(9) {
  animation-name: hero-drop-in;
  animation-delay: calc(var(--delay) + 2s);
}
